@model IBM_07AUG2023_D1MorBNew.Models.Product


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Product - Details";
}

<h1>Product - Details</h1>

<div>
    <h4>Product - Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
    </dl>
    
    <form>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
